<p style="color: green"><%= notice %></p>

<%= render 'list', list: @list %>

<p><strong>Bookmarks</strong></p>

<ul class="list-group">
  <% @list.bookmarks.each do |bookmark| %>
    <li class="list-group-item"><%= bookmark.comment %></li>

  <% end %>
</ul>

<br>

<div>
    <%= link_to "Back to lists",lists_path %>
</div>
